{% extends "base_example.html.twig" %}

{% block example %}
<div style="width: 100%;">
    <h2>{{ currentExample.title }}</h2>

    <p>{{ currentExample.description|raw }}</p>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="output-tab" data-toggle="tab" href="#output" role="tab" aria-controls="output" aria-selected="true">Output</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="graph-tab" data-toggle="tab" href="#graph" role="tab" aria-controls="graph" aria-selected="false">Graph</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="source-tab" data-toggle="tab" href="#source" role="tab" aria-controls="source" aria-selected="false">Source</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="process-tab" data-toggle="tab" href="#process" role="tab" aria-controls="process" aria-selected="false">Process</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="output" role="tabpanel" aria-labelledby="output-tab">
            {% for name, output in outputs %}
                {% if currentExample.htmlOutput %}
                    <div class="p-4">{{ output|raw }}</div>
                {% elseif output %}
                    <p>{{ name }}</p>
                    <pre><code>{{ output }}</code></pre>
                {% endif %}
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="graph" role="tabpanel" aria-labelledby="graph-tab">
            <div id="graph-container" class="d-flex justify-content-center"></div>
        </div>
        <div class="tab-pane fade" id="source" role="tabpanel" aria-labelledby="source-tab">
            {% for name, scriptFile in currentExample.scriptFiles %}
                <p>{{ name }}</p>
                <pre>{{ scriptFile|highlight_code }}</pre>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="process" role="tabpanel" aria-labelledby="process-tab">
            <pre>{{ pvmContext.process|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}</pre>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://formapro.github.io/pvm-ui/dist/main.js"></script>
    <script>
      var pvmContext = {{ pvmContext|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
      pvm.renderGraph(pvmContext, 'graph-container');
    </script>
{% endblock %}
